/* CSS */
.hidden { display: none; }

.margin-none { margin: 0 !important; }
.padding-none { padding: 0 !important; }

.top-margin-xs { margin-top: 5px !important; }
.left-margin-xs { margin-left: 5px !important; }
.bottom-margin-xs { margin-bottom: 5px !important; }
.right-margin-xs { margin-right: 5px !important; }

.top-padding-xs { padding-top: 5px !important; }
.left-padding-xs { padding-left: 5px !important; }
.bottom-padding-xs { padding-bottom: 5px !important; }
.right-padding-xs { padding-right: 5px !important; }

.margin-xs { margin: 5px !important; }
.padding-xs { padding: 5px !important; }

.top-margin-sm { margin-top: 10px !important; }
.left-margin-sm { margin-left: 10px !important; }
.bottom-margin-sm { margin-bottom: 10px !important; }
.right-margin-sm { margin-right: 10px !important; }

.top-padding-sm { padding-top: 10px !important; }
.left-padding-sm { padding-left: 10px !important; }
.bottom-padding-sm { padding-bottom: 10px !important; }
.right-padding-sm { padding-right: 10px !important; }

.margin-sm { margin: 10px !important; }
.padding-sm { padding: 10px !important; }

.top-margin-md { margin-top: 15px !important; }
.left-margin-md { margin-left: 15px !important; }
.bottom-margin-md { margin-bottom: 15px !important; }
.right-margin-md { margin-right: 15px !important; }

.top-padding-md { padding-top: 15px !important; }
.left-padding-md { padding-left: 15px !important; }
.bottom-padding-md { padding-bottom: 15px !important; }
.right-padding-md { padding-right: 15px !important; }

.margin-md { margin: 15px !important; }
.padding-md { padding: 15px !important; }

.top-margin-lg { margin-top: 20px !important; }
.left-margin-lg { margin-left: 20px !important; }
.bottom-margin-lg { margin-bottom: 20px !important; }
.right-margin-lg { margin-right: 20px !important; }

.top-padding-lg { padding-top: 20px !important; }
.left-padding-lg { padding-left: 20px !important; }
.bottom-padding-lg { padding-bottom: 20px !important; }
.right-padding-lg { padding-right: 20px !important; }

.margin-lg { margin: 20px !important; }
.padding-lg { padding: 20px !important; }