/*  CSS  */
.login-bg {
    /*  TODO:   Make the size of this image smaller.    */
    background-image: url("../images/bg-img.png");
    background-size: 100%;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.absCenter {
    position: absolute;
    top: 45vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

.margin-bottom-md {
    margin: 15px 0;
}

.form {
    color: #DDE;
}

