/*  CSS  */
.perCenter {
    position: absolute;
    top: 40vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

.absCenter {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}

.hidden { display: none; }

.top-margin-md { margin-top: 15px; }
.left-margin-md { margin-left: 15px; }
.bottom-margin-md { margin-bottom: 15px; }
.right-margin-md { margin-right: 15px; }

.top-padding-md { padding-top: 15px; }
.left-padding-md { padding-left: 15px; }
.bottom-padding-md { padding-bottom: 15px; }
.right-padding-md { padding-right: 15px; }

.login-bg {
    /*  TODO:  Make the file size of this image smaller.  */
    background-image: url("../images/bg-img.jpg");
    background-size: 100%;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.nav-offset {
    width: 100%;
    width: 100vw;
    height:1px;
    padding-top: 40px;
}

.wrap {
    padding-top: 6px;
    border-radius: 12px;
    background-color: rgba(210, 205, 205, 0.8);
}

.form { color: #404040; }