<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml-transitional.dtd">
<html>
    <head>
    	<!--    PAGE TITLE    -->
    	<title>Page title</title>
        <!--    NOTE: Tabicon will be '/favicon.ico'.    -->

        <!--    JQUERY    -->
        <script src="/projects/CMS_v2/app/views/assets/lib/jquery.min.js"></script>

        <!--    BOOTSTRAP    -->
        <script src="/projects/CMS_v2/app/views/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/projects/CMS_v2/app/views/assets/lib/bootstrap/css/bootstrap.min.css">

    	<!--   CSS    -->
    	<link rel="stylesheet" href="/projects/CMS_v2/app/views/assets/main/css/main.css">
        <link rel="stylesheet" href="/projects/CMS_v2/app/views/assets/CMS/css/bootstrapPlus.css">

        <!--    CMS    -->
        <script src="/projects/CMS_v2/app/views/assets/CMS/js/baseURL.js"></script>
        <script src="/projects/CMS_v2/app/views/assets/lib/cookies.js"></script>
        <script src="/projects/CMS_v2/app/views/assets/lib/ajax.js"></script>
        <script src="/projects/CMS_v2/app/views/assets/lib/msgHelper.js"></script>
        <!--<script src="/projects/CMS_v2/app/views/assets/CMS/js/contents/ContentLoader.js"></script>-->
        <script src="/projects/CMS_v2/app/views/assets/CMS/js/contents/ContentContainer.js"></script>
        <script src="/projects/CMS_v2/app/views/assets/CMS/js/contents/ContentEntry.js"></script>
        <!-- edit -->
        <script src="/projects/CMS_v2/app/views/assets/CMS/js/contents/CMS.js"></script>

        <!--    OWN JS    -->

    	<!--    META SETTINGS    -->
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

    	<!--    META TAGS    -->
        <!--    TODO:   Fill in the meta information.   -->
    	<meta name="keywords" content="words that relate to the website and are used by search engines to rank sites during searches, words are spaced by commas like, this"  />
    	<meta name="description" content="This is a short summary of your site, which is displayed by search engines for the user to view."  />
    	<meta name="copyright" content="your site's copyright information"  />
    	<meta name="publisher" content="publisher info"  />
    	<meta name="author" content="author info"  />
    </head>
    <body>
        <div class="container">
            <!-- edit_menu -->

            <div class="row">
                <h1>Hello world!</h1>

                <p>this is the main page, where the content is loaded to.</p>
            </div>

            <div class="row">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#posts1">Posts 1</a></li>
                    <li><a data-toggle="tab" href="#posts2">Posts 2</a></li>
                    <li><a data-toggle="tab" href="#posts3">Posts 3</a></li>
                    <li><a data-toggle="tab" href="#posts4">Posts 4</a></li>
                </ul>

                <div class="tab-content">
                    <div id="posts1" class="tab-pane fade in active">
                        <h3>Posts 1</h3>
                        <div class="contentContainer marker_indexMain amount_4 incAuth_true incDate_true entryWidth_md-6" id="main_posts"></div>
                    </div>

                    <div id="posts2" class="tab-pane fade">
                        <h3>Posts 2</h3>
                        <div class="contentContainer marker_index2 entryWidth_md-6 incDate_false incAuth_false amount_0" id="secondary_posts"></div>
                    </div>

                    <div id="posts3" class="tab-pane fade">
                        <h3>Posts 3</h3>
                        <div class="contentContainer type_posts" id="some_posts"></div>
                    </div>

                    <div id="posts4" class="tab-pane fade">
                        <h3>Posts 4</h3>
                        <div class="contentContainer type_articles" id="main_articles"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
