<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml/DTD/xhtml-transitional.dtd">
<html>
    <head>
    	<!--Page title for tab-->
    	<title>Page title</title>
        <!--    Tab icon?       -->

        <!--    jQuery  -->
        <script src="/projects/CMS_v2/app/views/assets/lib/jquery.js"></script>

        <!--    bootstrap   -->
        <script src="/projects/CMS_v2/app/views/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/projects/CMS_v2/app/views/assets/lib/bootstrap/css/bootstrap.min.css">

    	<!--   CSS document link    -->
    	<link rel="stylesheet" href="/projects/CMS_v2/app/views/assets/css/main.css">

        <!--    Own js?         -->
        <script src="app/views/assets/lib/ajax.js"></script>
        <script src="app/views/assets/lib/cookies.js"></script>
        <script src="app/views/assets/js/CMSAuth.js"></script>

    	<!--Meta settings-->
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">

        <!--    TODO:   Fill in the meta information.   -->
    	<!--Page meta information-->
    	<meta name="keywords" content="words that relate to the website and are used by search engines to rank sites during searches, words are spaced by commas like, this"  />
    	<meta name="description" content="This is a short summary of your site, which is displayed by search engines for the user to view."  />
    	<meta name="copyright" content="your site's copyright information"  />
    	<meta name="publisher" content="publisher info"  />
    	<meta name="author" content="author info"  />
    </head>
    <body>
        <div class="container">
            <h1>login</h1>
            <div id="form">
                <input type="text" name="username" id="username">
                <input type="password" name="password" id="password">
                <button name="login" id="login">Login</button>
            </div>
        </div>
    </body>
</html>
